[submodule "app/src/main/cpp/libtirpc"]
	path = app/src/main/cpp/libtirpc
	url = https://github.com/alisw/libtirpc
	ignore = dirty
[submodule "app/src/main/cpp/pixman"]
	path = app/src/main/cpp/pixman
	url = https://github.com/KreitinnSoftware/pixman
	ignore = dirty
[submodule "app/src/main/cpp/libfontenc"]
	path = app/src/main/cpp/libfontenc
	url = https://github.com/KreitinnSoftware/libfontenc
	ignore = dirty
[submodule "app/src/main/cpp/libxau"]
	path = app/src/main/cpp/libxau
	url = https://github.com/KreitinnSoftware/libxau
	ignore = dirty
[submodule "app/src/main/cpp/libxdmcp"]
	path = app/src/main/cpp/libxdmcp
	url = https://github.com/KreitinnSoftware/libxdmcp
	ignore = dirty
[submodule "app/src/main/cpp/libxfont"]
	path = app/src/main/cpp/libxfont
	url = https://github.com/KreitinnSoftware/libxfont
	ignore = dirty
[submodule "app/src/main/cpp/libxkbfile"]
	path = app/src/main/cpp/libxkbfile
	url = https://github.com/KreitinnSoftware/libxkbfile
	ignore = dirty
[submodule "app/src/main/cpp/libxshmfence"]
	path = app/src/main/cpp/libxshmfence
	url = https://github.com/KreitinnSoftware/libxshmfence
	ignore = dirty
[submodule "app/src/main/cpp/libxtrans"]
	path = app/src/main/cpp/libxtrans
	url = https://github.com/KreitinnSoftware/libxtrans
	ignore = dirty
[submodule "app/src/main/cpp/libepoxy"]
	path = app/src/main/cpp/libepoxy
	url = https://github.com/anholt/libepoxy
	ignore = dirty
[submodule "app/src/main/cpp/libxcvt"]
	path = app/src/main/cpp/libxcvt
	url = https://github.com/KreitinnSoftware/libxcvt
	ignore = dirty
[submodule "app/src/main/cpp/libx11"]
	path = app/src/main/cpp/libx11
	url = https://github.com/KreitinnSoftware/libx11
	ignore = dirty
[submodule "app/src/main/cpp/xorgproto"]
	path = app/src/main/cpp/xorgproto
	url = https://github.com/KreitinnSoftware/xorgproto
	ignore = dirty
[submodule "app/src/main/cpp/xkbcomp"]
	path = app/src/main/cpp/xkbcomp
	url = https://github.com/KreitinnSoftware/xkbcomp
	ignore = dirty
[submodule "app/src/main/cpp/xserver"]
	path = app/src/main/cpp/xserver
	url = https://github.com/KreitinnSoftware/xserver
	ignore = dirty
[submodule "app/src/main/cpp/bzip2"]
	path = app/src/main/cpp/bzip2
	url = https://gitlab.com/bzip2/bzip2
	ignore = dirty
