<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:isGame="true"
        android:appCategory="game"
        android:supportsRtl="true">
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/Theme.MiceWine"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.PresetManagerActivity"
            android:theme="@style/Theme.MiceWine"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.GeneralSettingsActivity"
            android:theme="@style/Theme.MiceWine"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.VirtualControllerOverlayMapper"
            android:theme="@style/Theme.MiceWine.FullScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.RatManagerActivity"
            android:theme="@style/Theme.MiceWine"
            android:exported="false">
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MiceWine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/x-msdos-program" />
                <data android:mimeType="application/x-msi" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EmulationActivity"
            android:configChanges="fontScale|orientation|screenSize|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|touchscreen|uiMode|smallestScreenSize|density"
            android:exported="true"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:taskAffinity=".EmulationActivity"
            android:theme="@style/Theme.MiceWine.FullScreen"
            android:windowSoftInputMode="stateHidden">
        </activity>
    </application>
</manifest>
